:root {
    --color-primary: #212121;
    --color-content: #757575;
    --color-secondary: #FFFFFF;
    --color-link: #2196F3;
    --color-light-fon: #f5f4fa;
    --color-dark-fon: #2F303A;
}

body {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

/*Утилиты*/

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.listmg {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

/*container*/

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*header*/

.bg-color {
    background-color: var(--color-secondary);
    border-bottom: 1px solid #ECECEC;
}

.header-menu {
    display: flex;
    align-items: center;
}

/*logo header*/

.link-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-primary);
}

.logo-poz {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 0;
    width: 145px;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-link);
}

/*links*/

.link {
    text-decoration: none;
    font-style: normal;
}

.link.current {
    color: var(--color-link);
}

.links-nav {
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-primary);
}

.links-nav:focus {
    color: var(--color-link);
}

.links-nav:hover {
    color: var(--color-link);
}

/*site-nav*/

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav .list+.list {
    margin-left: 50px;
}

/*contacts*/

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-content);
}

.contacts:focus {
    color: var(--color-link);
}

.contacts:hover {
    color: var(--color-link);
}

/*contacts-nav*/

.contacts-nav {
    display: flex;
    margin-left: auto;
}

.contacts-nav .list+.list {
    margin-left: 50px;
}

.contacts-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-icon {
    fill: currentColor;
}

/*main*/

/*section1*/

.hero-pd {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-bgcolor {
    background-color: var(--color-dark-fon);
}

.hero-bgcolor-img {
    max-width: 1600px;
    margin: 0 auto;

    background-color: var(--color-dark-fon);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--color-secondary);
    text-transform: uppercase;
    text-align: center;
}

/* buttons */

.button {
    display: block;
    padding: 10px 32px;
    margin-right: auto;
    margin-left: auto;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--color-secondary);
    background-color: var(--color-link);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*section2*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
}

/*our peculiarity*/

.peculiarity {
    display: flex;
}

.peculiarity .list-peculiarity+.list-peculiarity {
    margin-left: 30px;
}

.pec-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background: var(--color-light-fon);
    border-radius: 4px;
}

.li-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.li-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-content);
}

.no-padding {
    padding-bottom: 0;
}

/*section3*/

.title-flex {
    display: flex;
}

.title-flex .title-li-flex+.title-li-flex {
    margin-left: 30px;
}

.section-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/*section4*/

.team-flex {
    display: flex;
}

.team-flex .team-li-flex+.team-li-flex {
    margin-left: 30px;
}

.section-bgcolor {
    background-color: var(--color-light-fon);
}

.section-fon {
    background-color: var(--color-secondary);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.text-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.text {
    font-size: 16px;
    line-height: 1.19;
    color: var(--color-content);
    margin-bottom: 16px;
}

.sociale {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sociale-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: #AFB1B8;
}

.sociale-link:hover,
.sociale-link:focus {
    background-color: var(--color-link);
    color: var(--color-secondary);
}

.sociale-icon {
    fill: currentColor;
}

.card {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*section5*/

.client {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background-color: var(--color-secondary);
    color: #AFB1B8;
}

.client-link:hover,
.client-link:focus {
    border: 1px solid var(--color-link);
    color: var(--color-link);
}

.client-icon {
    fill: currentColor;
}

/*footer*/

.foot-look {
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-foot {
    display: inline-block;
    margin-bottom: 20px;
}

.addres {
    display: block;
    margin-bottom: 9px;
}

.addres:nth-child(3n) {
    margin-bottom: 0px;
}

.links-addres {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.links-addres:focus {
    color: var(--color-link);
}

.links-addres:hover {
    color: var(--color-link);
}

.studio-color {
    color: var(--color-secondary);
}

.sociale-foot {
    margin-left: 70px;
}

.text-foot {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--color-secondary);
}

.foot-flex {
    display: flex;
    align-items: baseline;
}

.sociale-link-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-secondary);
}

.sociale-link-foot:hover,
.sociale-link-foot:focus {
    background-color: var(--color-link);
    color: var(--color-secondary);
}

.sociale-icon-foot {
    fill: currentColor;
}

/*portfolio*/

.portfolio-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-nav .list+.list {
    margin-left: 8px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-element {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.flex-element:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-element:nth-child(3n) {
    margin-right: 0;
}

.flex-element:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.foon {
    background-color: var(--color-secondary);
}

.box-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.box {
    font-size: 16px;
    line-height: 1.88;
    color: var(--color-content);
}

.box-card {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

/*button*/

.button-portfolio {
    display: inline-block;
    padding: 6px 22px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background-color: var(--color-light-fon);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.button-portfolio:focus {
    background-color: var(--color-link);
    color: var(--color-secondary);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button-portfolio:hover {
    background-color: var(--color-link);
    color: var(--color-secondary);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button-portfolio:active {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}