.box-card {
    @extend %link;

    display: block;

    transition: box-shadow var(--anim);

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.box-card__img {
    position: relative;
    overflow: hidden;
}

.box-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;

    display: flex;
    align-items: center;

    background: rgba(33, 150, 243, 0.9);

    transition: transform var(--anim);

    .box-card:hover & {
        transform: translateY(0);
    }
}

.box-card__description {
    font-size: 18px;
    line-height: 28px;
    color: var(--color-secondary);
    user-select: none;
}

.box-card__meta {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.box-card__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.box-card__text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--color-content);
}