.footer {
    background-color: var(--color-dark-fon);
}

.footer__container {
    display: flex;
    align-items: baseline;

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--color-secondary);
}