.footer {
    background-color: var(--color-dark-fon);
}

.footer__container {
    @include section;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 60px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        gap: 60px;
        justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
        gap: 0;
        justify-content: left;
        text-align: left;
        align-items: baseline;
    }
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
    width: 154px;
    color: var(--color-secondary);
    
    @media screen and (min-width: 1200px) {
        width: 145px;
    }
}