.join {
    margin-left: 70px;
}

.join__title {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--color-secondary);
}