.modal-form-group {
    display: block;

    position: relative;

    margin-bottom: 10px;
}

.modal-form-label {
    display: block;

    margin-bottom: 4px;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--color-content);
}

.modal-form-field {
    display: block;

    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;
    margin-bottom: 10px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;

    transition: outline-color var(--anim);

    &:focus {
        outline-color: var(--color-link);
    }
}

.modal-form-icon {
    position: absolute;

    bottom: 11px;
    left: 12px;

    transition: fiil var(--anim);

    .modal-form-field:focus+ & {
        fill: var(--color-link);
    }
}

.modal-form-message {
    display: block;

    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;

    transition: outline-color var(--anim);

    resize: none;

    &:focus {
        outline-color: var(--color-link);
    }
}

.modal-form-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-form-agreement {
    display: flex;
    align-items: center;
    gap: 8.38px;

    color: var(--color-content);
    user-select: none;
}

.modal-form-agreement-check {
    display: inline-block;

    width: 16px;
    height: 15px;

    border: 2px solid var(--color-primary);
    border-radius: 2px;

    transition: border-color var(--anim), background-color var(--anim);

    .modal-form-checkbox:checked+ & {
        border-color: var(--color-link);
        background-color: var(--color-link);
        background-image: url('../images/check.svg');
        background-size: contain;
        background-origin: border-box;
        background-position: center;
    }
}

.modal-label-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    margin-bottom: 30px;
}

.modal-form-agreement-link {
    color: var(--color-link);
    text-underline-offset: 3px;  
}

.modal-form-button {
    width: 200px;
    height: 50px;
}