.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 40px;

    width: 528px;
    min-height: 581px;
    line-height: normal;

    background-color: var(--color-secondary);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: opacity var(--anim), transform var(--anim);

    .backdrop.is-hidden & {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) scale(0.5);
    }
}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;

    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition: fill var(--anim);

    &:hover,
    &:focus {
        fill: var(--color-link);
    }
}

.modal-text {
    display: block;
    text-align: center;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}