.peculiarity {
    @include section;
}

.peculiarity__list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
}

.peculiarity__item {
    @extend %list;
}

.peculiarity__item+.peculiarity__item {
    margin-top: 30px;
    
    @media screen and (min-width: 768px) {
        margin-top: 0;

        &:nth-child(2n) {
            margin-left: 30px;
        }

        &:nth-last-child(-n+2) {
            margin-top: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-left: 30px;

        &:nth-last-child(-n+2) {
            margin-top: 0;
        }
    }
}

.peculiarity__svg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 450px;
    height: 120px;
    background: var(--color-light-fon);
    border-radius: 4px;

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.peculiarity__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.peculiarity__text {
    width: 450px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-content);

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}