.sociale {
    @extend %list;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sociale__link {
    @extend %link;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: #AFB1B8;

    transition: color var(--anim), background-color var(--anim);
    
    &:hover,
    &:focus {
        color: var(--color-secondary);
        background-color: var(--color-link);
    }
    
    &--color {
        color: var(--color-secondary);
        background-color: rgba(255, 255, 255, 0.1);
    
        &:hover,
        &:focus {
            background-color: var(--color-link);
        }
    }
}

.sociale__icon {
    fill: currentColor;
}