.card-set {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card-set__item {
    @extend %list;

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 60px) / 3);
    }
}